//固定形式
.page-item-1
    .notic
        p 全新的UI界面设计，使用更直观，推送更便捷；
        p 自动生成推送Demo，直接下载安装即可体验推送效果；
        p 新增【图片推送】与【展开式通知】功能，推送形式更多样；
        p 新增【emoji表情】功能，让您的推送内容更丰富；
        p 新增【消息中心】功能，让您随时了解我们的新变化！
    //.row
    //    .gift-box--tb.col-lg-3.col-md-6
    //        img(src="./images/p5.jpg")
    //        p 金幣x 5000000000
    //    .gift-box--tb.col-lg-3.col-md-6
    //        img(src="./images/p5.jpg")
    //        p 金幣x 5000000000
    //    .gift-box--tb.col-lg-3.col-md-6
    //        img(src="./images/p5.jpg")
    //        p 金幣x 5000000000
    //    .gift-box--tb.col-lg-3.col-md-6
    //        img(src="./images/p5.jpg")
    //        p 金幣x 50000
//
//.page-item-2
//.page-item-3
//.page-item-4