//固定形式
.page-item-1
    .row
        .gift-box--tb.col-lg-3.col-md-6
            img(src="./images/p5.jpg")
            p 金幣x 5000000000
        .gift-box--tb.col-lg-3.col-md-6
            img(src="./images/p5.jpg")
            p 金幣x 5000000000
        .gift-box--tb.col-lg-3.col-md-6
            img(src="./images/p5.jpg")
            p 金幣x 5000000000
        .gift-box--tb.col-lg-3.col-md-6
            img(src="./images/p5.jpg")
            p 金幣x 50000

//.page-item-2
//.page-item-3
//.page-item-4