.pop-container.pop1.light--normal.font--sm
    .close
        img.close-img(src="./images/base/close.png")
    .row.txt-pos--center.sub-title.light--pop
        | 恭喜你
    p.txt-pos--center.light--pop.font--pop 恭喜你，获得4399《格斗猎人2》送出的XXX！
    p.txt-pos--center
        span.btn--default
            img.btn--pop
    p.txt-pos--center.light--pop
        | 我们已在礼包领取时完成对你的游戏区服及角色名的信息登记，<br>
        | 活动结束后三天内奖品将自动发放至游戏中，敬请查收!
.pop-container.pop2
    .close
        img.close-img(src="./images/base/close.png")
    .row.txt-pos--center.sub-title.light--pop
        | 恭喜你
    p.txt-pos--center.font--pop.light--pop  恭喜你，获得4399《格斗猎人2》送出的夏日大礼包！
    p.txt-pos--center.light--pop 激活码：
        a.code sdsajkkjkjkjkjk
        a.copy 一键复制
    p.txt-pos--center
        span.btn--default
            img.btn--pop
    p.txt-pos--center.light--pop
        | 兑换方式：【福利】-【媒体礼包】-【输入激活码】
.pop-container.pop3
    .close
        img.close-img(src="./images/base/close.png")
    .row.txt-pos--center.sub-title.light--pop
        | 请选择
    p.txt-pos--center.light--pop 请选择您的角色所在的服务器
    p.txt-pos--center.light--pop 角色区服：
        select
            option 请选择
    p.txt-pos--center.light--pop 角色名称：
        select
            option 请选择
    p.txt-pos--center
        span.btn--default
            img.btn--pop