.footer
    p
        | 文化部网络游戏举报网站：http://www.12318.gov.cn纠纷处理方式：联系客服或依《用户协议》约定方式处理 <br>
        | ICP证：闽B2-20040099&nbsp;网络文化经营许可证：闽网文[2012]0810-015号 新出网证(闽)字06号Copyright ? 2006-2014 web.4399.com
        span.flogo
