.header
    - if (footerType == "custom")
        include ../pageContent/header
    - else
        .header__logo.tj(data-tj="{id:1,title:'格斗猎人2logo'}" href="#")
        .header__nav.nav
            a.nav__item.tj(data-tj="{id:2,title:'注册link'}" href="#") 注册 |
            a.nav__item.tj(data-tj="{id:3,title:'登录link'}" href="#") 登录 |
            a.nav__item.tj(data-tj="{id:4,title:'查看已获得礼包'}" href="#") 查看已获得礼包
        - if (loginBoxSwitch == true)
            .loginBox 亲爱的玩家，您还没有
                a.tj(data-tj="{id:5,title:'登录'}" href="#") 登录|
                a.tj(data-tj="{id:6,title:'注册'}" href="#") 注册

