.header
    - if (footerType == "custom")
        include ../pageContent/header
    - else
        .header__logo.tj(data-tj="{id:1,title:'风色轨迹logo'}")
        .header__nav.nav
            a.nav__item.tj(data-tj="{id:2,title:'开始游戏link'}") 开始游戏
            a.nav__item.tj(data-tj="{id:3,title:'游戏官网link'}") 游戏官网
            a.nav__item.tj(data-tj="{id:4,title:'游戏论坛link'}") 游戏论坛
        .loginBox 亲爱的玩家，您还没有
            a.tj(data-tj="{id:5,title:'登录'}") 登录|
            a.tj(data-tj="{id:6,title:'注册'}") 注册

