doctype html
html
    include head
    body
        include tj
        .container#tjBody
            .swaper
                include header
                block content
            include footer
            include pop
        include containerBg
        include script
