doctype html
html
    include head
    body
        include tj
        .container-bg
            #swf
        .container#tjBody
            .swaper
                include header
                block content
            include footer
            include pop
        include script
