.pop
    .pop-container.pop1.light--normal.font--sm
        .close
        p.font--larger.light--major 恭喜您，中奖了
        p 目前幸运值已达
            b.light--major 1800000
        p.font--md  恭喜您获得百服惊喜加分礼包
        p 礼包激活码:
            b.light--major 213123123123123123123123
            span.copy 一键复制
        p
            span.btn--default
                img.btn--pop(src="./images/enter.png")
    .pop-container.pop2
        .close
        p.font--larger.light--major 加油哦
        p.font--md 目前幸运值已达
            b.light--major 1800000
        p.font--md 离下一个礼包领取
            b.light--major 只差24000 幸运值，召集群侠获取更多奖励！
        p
            span.btn--default
                img.btn--pop(src="./images/enter.png")
    .pop-container.pop6
        .close
        p.font--larger.light--major 活动规则
        p.artical--txt 1.活动时间7月1日00:00-4日23:59，玩家登录专题页面方能参加活动
        p.artical--txt 2.玩家点击“增加欢乐值”按钮来增加欢乐值，点击一次可增加8点，每个账号（IP）每天最多可进行5次欢乐值点击；
        p.artical--txt 3.所有玩家增加的欢乐值累计到8888/13888/19888/25888欢乐值时，可开启不同档次的欢乐礼包，礼包开启后所有玩家均可领取.
        p.artical--txt 4.每种礼包码每个游戏角色仅限使用一次，切勿外借哟！礼包激活码可在个人消息中心中进行查询.
        p.artical--txt 5.玩家不得以非法手段参与活动，一经发现取消参与资格
    .mask