script(src="http://pic.my4399.com/re/cms/feUtil/effectTj/1.1/effectTj.js")
script
      | var d_tj = new effectTj({
      | game:'fsgj',        //游戏名称首字母，例如：“七杀”则为qs（请以平台相对应）
      | oid1:14477,           //创意id，市场后台创建填写。素材后台--其它管理--模版管理--添加2014创意
      | cid:5            //由技术童鞋填写
      | });
      | d_tj.init();