- var title = "格斗猎人"
- var type = "!pc";   //默认"pc"，要开发响应式页面设置"!pc" 注意：同时要开启模板里面的type属性（utils/var）
- var footerType = "custom"; //默认"default"，多栏图标形式设置"limit" 注意：同时要开启模板里面的footerType属性（utils/var）
- var containerBgNum = 1; //当一屏为非单图，多图多段，用此属性配置单屏块数 注意：去（utils/var）配置相关属性
- var outhead = true;