- var title = "相伴千世 sweet蛋糕齐分享"
- var type = "!pc";   //默认"pc"，要开发响应式页面设置"!pc" 注意：同时要开启模板里面的type属性（utils/var）
- var footerType = "default"; //默认"default"，多栏图标形式设置"limit" 注意：同时要开启模板里面的footerType属性（utils/var）