@mixin nav($nav-switch){
    .loginBox {
      position: absolute;
      top: 40px;
      right: 50px;
      @if $loginBox-switch == false {
      display: none;
      }
    }

    .nav{
      @if $nav-switch == false{
        display: none;
      }
      padding: 2px;
      text-align: center;
      a{
        color: #{$nav-a-color}!important;
      }
      &__item{
        margin-right: 9px;
        @include inline_block(middle);
      }
    }
}

@mixin header($logo-bg,$header-height,$logo-w,$logo-h,$nav-bg,$nav-w,$nav-h){
  .header{
    position: absolute;
    height: $header-height;
    width: 100%;
    padding-top: 12px;
    &__logo{
      background: url(#{$logo-bg}) no-repeat;
      background-size: 100%;
      width:$logo-w;
      height: $logo-h;
      float: left;
      cursor: pointer;
    }
    &__nav{
      float: right;
      background: url(#{$nav-bg}) no-repeat;
      width:$nav-w;
      height: $nav-h;
    }
    @include nav($nav-switch);
  }
}

@mixin header-res(){
  .header{
    height: rem($header-height,2);
    &__logo{
      width:rem($logo-w,2);
      height: rem($logo-h,2);
    }
  }
}