
@mixin mask($min-w:1000){
  .mask {
    position: fixed;
    @include ieHack("6","position","absolute");
    @include min-width($min-w);
    top: 0;
    left: 0;
    @include allHeight();
    background: #000;
    @include opacity(60);
    z-index: 999;
    display: none;
  }
}
@mixin pop($bg,$width,$height,$border-size,$border-color,$close-bg){
  .pop{
    &-container{
      background: url("#{$bg}") no-repeat;
      width:$width;
      height:$height;
      border:$border-size solid #{$border-color};
      margin-left: - $width/2;
      z-index: 1000;
      @include fixed(200,50%);
      p{
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
      }
      .font--larger{
        font-size: 50px;
        height:90px;
        line-height:90px;
      }
      display: none;
    }
    .close{
      background: $close-bg;
      width:44px;
      height:41px;
      position: absolute;
      @if ($close-position == "outside"){
        right:-50px;
      }
      @else if($close-position == "inside"){
        right:0px;
      }
      cursor: pointer;
      img{
        width: 100%;
      }
    }
    @include mask();
  }
}

@mixin pop-small-default(){
  .pop{
    &-container{
      background-size: auto 100%;
      border-width:rem($pop-border-size,2);
      width: 28.95rem - rem($pop-border-size,2);
      height: auto;
      margin-left: -(28.95rem)/2;
      margin-top: -17.35rem;
      top: 50%;
      left: 50%;
      z-index: 1000;
      position: absolute;
      p{
        line-height: 20px;
        margin-top: rem(10px,2);
        margin-bottom: rem(10px,2);
      }
      .font--larger{
        font-size: rem(50px,2);
        height:rem(90px,2);
        line-height: rem(90px,2);
      }
    }
    .close{
      width:rem(44px,2);
      height:rem(41px,2);
    }
  }
}


//type！=pc时媒体查询样式
@mixin pop-res(){
    @include pop-small-default();
}