.gift-box--tb {
  text-align: center; }

.gift-box--lr {
  text-align: left; }
  .gift-box--lr img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
  .gift-box--lr p {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle; }
