.font--larger {
  font-size: 50px; }

.font--sm {
  font-size: 12px; }

.font--md {
  font-size: 14px; }

.font--title {
  font-size: 24px; }

.font--pop {
  font-size: 16px; }

.light--major {
  color: #e50000; }

.light--normal {
  color: #000; }

.light--sun {
  color: #fff500; }

.light--title {
  color: #d02301; }

.light--pop {
  color: #604800; }

.btn {
  cursor: pointer; }

a {
  cursor: pointer; }

.artical--txt {
  text-align: left !important; }

.fl {
  float: left; }

.fr {
  float: right; }

.hide {
  display: none; }

.txt-pos--center {
  text-align: center; }
